<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="board/fragments/header :: main-head"></head>
	<body>
		<!-- 컨트롤러에서 전달받은 네 개의 파라미터 중 params 가 비어있지 않으면  -->
		<!-- Map 에 담겨있는 데이터의 개수만큼 hidden 타입의 <input> 태그를 추가 생성 -->
		<!-- action 속성에는 리다이렉트 할 URI 를 지정하고 , method 속성에는 HTTP 요청 메서드를 지정 -->
		<form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:action="${redirectUri}" th:method="${method}" style="display: none;">
			<input th:each="key, status : ${params.keySet()}" type="hidden" th:name="${key}" th:value="${params.get(key)}" />
		</form>
		
		<script th:src="@{/scripts/common.js}"></script>
		
		<th:block layout:fragmet="script">
			<script th:inline="javascript">
				/* <![CDATA[ */
				
				window.onload = function() {
					var message = /*[[ ${message} ]]*/ null;
					// 컨트롤러에서 전달받은 메시지가 비어있지 않으면 사용자에게 Alert 메시지를 출력
					if (isEmpty(message) == false) {
						alert(message);
					}
					
					var params = /*[[ ${params} ]]*/ null;
					// 파라미터의 존재 여부에 따라 폼을 서브밋 할지 , 단순히 페이지만 이동할지를 판단
					if (isEmpty(params) == false) {
						// 폼을 컨트롤러로 서브밋 
						document.dataForm.submit();
					} else {
						// redirectUri 에 지정된 URI 를 호출
						var redirectUri = /*[[ ${redirectUri} ]]*/ null;
						location.href = redirectUri;
					}
				}
				/* ]]> */
			</script>
		</th:block>
	</body>
</html>